/* Follow me for more pens like this! */

/* Tweak to change the look and feel */
:root {
    /* dfbe78 */
    --button-background: #213555;
    --button-color: #E5D283;
    
    --dropdown-highlight: #4F709C;
    --dropdown-width: 160px;
    --dropdown-background: #213555;
    --dropdown-color: silver;
    --dropdown-highlight-color:silver
  }
  .DropdownButton
  {
    margin: auto;
    width: fit-content;
    cursor: pointer;
    display: flex;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    
    /* Style */
    border: none;
    background: var(--button-background);
    color: var(--button-color);

    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    -moz-user-select:none;  /* for Mozilla、Firefox */
  }

  .DropdownIcon
  {
    font-size: x-large;
    color: var(--button-color);

  }
  .DropdownBTLabel
  {
    font-size: large;
    color: var(--button-color);

    white-space: nowrap;
  }


  
  /* Dropdown styles */
  .dropdown {
    position: relative;
    padding: 0;
    margin-right: 1em;
    
    border: none;
  }
  
  .dropdown summary {
    list-style: none;
    list-style-type: none;
  }
  
  .dropdown > summary::-webkit-details-marker {
    display: none;
  }
  
  .dropdown summary:focus {
    outline: none;
  }
  .dropdown summary:focus {
    outline: none;
  }
  
  .DropdownButtonUL {
    position: absolute;
    /* margin: 20px 0 0 0; */
    padding: 10px 0;
    /* width: var(--dropdown-width); */
    width: max-content;
    right: 0;
    box-sizing: border-box;
    z-index: 2;
    background: var(--dropdown-background);
    border-radius: 6px;
    list-style: none;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
  
  .DropdownButtonUL li {
    padding: 0;
    margin: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 3rem 1fr;

  }
  .DropdownButtonLiIcon {
    color: var(--dropdown-color);
    margin-left: 1rem;
    font-size: x-large;
  }
  .Line
  {
    color: #00bd00;
    border-radius: 5px;
    background-color: whitesmoke;
  }
  .Weixin
  {
    color: whitesmoke;
    border-radius: 5px;
    background-color: #00bd00;
    padding: 2px;
    font-size: large;

  }
  
  .DropdownButtonUL li a:link, .DropdownButtonUL li a:visited {
    display: inline-block;
    padding: 10px 0.8rem;
    width: 100%;
    box-sizing: border-box;
    
    color: var(--dropdown-color);
    text-decoration: none;
  }
  
  .DropdownButtonUL li:hover {
    background-color: var(--dropdown-highlight);
    color: var(--dropdown-highlight-color);
  }
  
  /* Dropdown triangle */
  .DropdownButtonUL::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    right: 1rem;
    margin-left: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--dropdown-background) transparent;
  }
  
  
  /* Close the dropdown with outside clicks */
  .dropdown > summary::before {
    display: none;
  }
  
  .dropdown[open] > summary::before {
      content: ' ';
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
  }
  